<?xml version = '1.0' encoding = 'UTF-8'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>GetAllFromCache</servlet-name>
        <servlet-class>view.GetAllFromCache</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WarmUpCache</servlet-name>
        <servlet-class>view.WarmUpCache</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllFromCache</servlet-name>
        <url-pattern>/GetAllFromCache</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarmUpCache</servlet-name>
        <url-pattern>/WarmUpCache</url-pattern>
    </servlet-mapping>
</web-app>
