<?xml version = '1.0' encoding = 'UTF-8'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>CacheDisplay</servlet-name>
        <servlet-class>view.TrivialCacheDisplay</servlet-class>
        <!--<load-on-startup>1</load-on-startup> -->
    </servlet>
    <servlet>
        <servlet-name>ComplexDisplay</servlet-name>
        <servlet-class>view.ComplexCacheDisplay</servlet-class>
        <!--<load-on-startup>1</load-on-startup> -->
    </servlet>
    <servlet>
        <servlet-name>CacheWarmer</servlet-name>
        <servlet-class>view.TrivialCacheWarmer</servlet-class>
        <!--load-on-startup>1</load-on-startup-->
    </servlet>
    <servlet-mapping>
        <servlet-name>CacheDisplay</servlet-name>
        <url-pattern>/CacheDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComplexDisplay</servlet-name>
        <url-pattern>/ComplexDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CacheWarmer</servlet-name>
        <url-pattern>/CacheWarmer</url-pattern>
    </servlet-mapping>
</web-app>
